:root {
  font-family: "Anek Malayalam", serif;
}

body {
  margin: 0 auto;
  background-color: green;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}





